// Styling for the contact section
section#contact {
  background-color: $gray-900;
  background-image: url("#{$contact-image}");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  
  .section-contact {
      height: auto !important;
      padding: 10px !important;
    }

    .section-heading {
      margin-bottom: 20px !important;
       color: $white;
    }

    .section-subheading {
      display: none !important;
}
    
}